*{ box-sizing: border-box; }
body {
  	margin: 0;
  	padding: 0;
  	font-family: helvetica;
  	background: #a2ccb6;
}
.container{
	width: 250px;
 	height: 375px;
	border-radius: 10px;
	box-shadow: 1px 2px 15px grey;
	margin-top: 3rem;
  	margin-left: auto;
  	margin-right: auto;
  	z-index: 1;
  	position: relative;
}
.numbers-container{
	font-weight: bold;
}
.container #result {
  display: flex;
  width: 100%;
  height: 25%;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: #ed8055;
  font-size: 30px;
  color: #fcfcfc;
  overflow: hidden;
  border-bottom: solid 0.4px #191919;
<<<<<<< HEAD
  padding: 20px 7px;
  border-top: 2.8px double black;
  border-left: 2.8px double black;
  border-right: 2.8px double black
=======
  padding-left: 8px
>>>>>>> e1e7ea9ee2d606b638b574c3e2632c57efd650ca
}
.container .numbers-container {
  display: flex;
  width: 100%;
  height: 75%;
  position: relative;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
  z-index: 2;
}
.container .numbers-container .number {
  position: relative;
  width: 25%;
  height: 20%;
  text-align: center;
  color: #c1c1c1;
  font-size: 21px;
  font-weight: 700;
  line-height: 60px;
  cursor: pointer;
  z-index: 3;
  transition: all 0.5s;
  padding-bottom: 20px;
}
.container .numbers-container .number:hover {
  background-color: #a18cd1;
}
button{
	border: solid 0.1px #191919;
	background-color: #1f1f1f
}
.container .numbers-container .press {
	background-color: #2b2b2b;
	color: #c25d50
}
/*---------- banner ----------*/
.banner span{
	font-size: 3em;
	line-height: 2em;
	letter-spacing: 3.5px;
	font-weight: bold;
	height: 100%;
	font-family: cursive;
}
.banner{
	text-align: center;
	margin: 0;
	background: linear-gradient(135deg, #723362, #9d223c);
    overflow: hidden;
    color: white;
    box-sizing: border-box;
}
.banner-effect{
	text-shadow: 0px 0px 3px white;
}
.banner-effect:nth-child(1) {
        -webkit-animation: fade 3.6s infinite 200ms;
        animation: fade 3.6s infinite 200ms;
}
.banner-effect:nth-child(2) {
        -webkit-animation: fade 3.6s infinite 400ms;
        animation: fade 3.6s infinite 400ms;
 }
.banner-effect:nth-child(3) {
        -webkit-animation: fade 3.6s infinite 600ms;
        animation: fade 3.6s infinite 600ms;
 }
.banner-effect:nth-child(4) {
        -webkit-animation: fade 3.6s infinite 800ms;
        animation: fade 3.6s infinite 800ms;
}
.banner-effect:nth-child(5) {
        -webkit-animation: fade 3.6s infinite 1000ms;
        animation: fade 3.6s infinite 1000ms;
}
.banner-effect:nth-child(6) {
        -webkit-animation: fade 3.6s infinite 1200ms;
        animation: fade 3.6s infinite 1200ms;
}
.banner-effect:nth-child(7) {
        -webkit-animation: fade 3.6s infinite 1400ms;
        animation: fade 3.6s infinite 1400ms;
}
.banner-effect:nth-child(8) {
        -webkit-animation: fade 3.6s infinite 1600ms;
        animation: fade 3.6s infinite 1600ms;
}
.banner-effect:nth-child(9) {
        -webkit-animation: fade 3.6s infinite 1800ms;
        animation: fade 3.6s infinite 1800ms;
}
.banner-effect:nth-child(10) {
        -webkit-animation: fade 3.6s infinite 2000ms;
        animation: fade 3.6s infinite 2000ms;
}
@-webkit-keyframes fade {
        50% {
            opacity: 0.03;
        }
}
  @keyframes fade {
        50% {
            opacity: 0.03;
        }
}
