* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/*---------- Menu ----------*/
.navbar-brand {
	margin-left: 5vw;
}
.navbar-brand img {
	max-height: 74px;
}
.bg-light {
	background-color: white!important;
}
.nav-icon a img {
	width: 20px;
	padding-right: 1px;
	margin-bottom: 5px
}
.navbar-nav {
	margin-left: auto;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-icon {
	margin-right: 5vw
}
.nav-item {
	margin: 0 4px 0 4px
}
.nav-link {
	color: black!important
}
.hvr-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}
.hvr-underline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	bottom: 0;
	background: #2098D1;
	height: 4px;
	transition-property: left, right;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
}

@media screen and (max-width: 1080px) {
	.navbar-brand {
		margin-left: 0
	}
	.navbar-icon {
		margin-right: 0
	}
}
/*---------- Carousel ----------*/
.carousel-item {
	width: 100%
}
.w-100 {
	max-width: auto!important;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
	width: 36px;
	height: 36px
}
.carousel-indicators li {
	width: 13px;
	height: 13px;
	border-radius: 50%
}
.carousel-indicators .active {
    opacity: 1;
    background-color: #EB3E32!important;
    width: 15px;
    height: 15px;
    border: 1px solid white;
    margin-top: 8px;
}
/*---------- Policy ----------*/
.container-policy {
	display: flex;
	margin-top: 8vh
}
.container-policy .policy img {
	width: 64px;
	display: block;
	margin: auto;
}
.container-policy .policy h5 {
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	text-transform: uppercase;
}
.container-policy .policy p {
	text-align: center;
	padding: 0 20px 0 20px
}
.policy {
	width: 20%
}
/*---------- Hot Events ----------*/
.hot-events {
	display: flex;
	padding: 2.5vh 0;
    background: #f7f7f7;
}
.hot-events div {
	width: 30%;
	margin: auto;
}
.hot-events div a img {
	max-width: 100%
}
/*---------- Products ----------*/
.products {
	margin-top: 8vh;
}
.products .products-headline {
	text-align: center;
}
.products .products-headline h1 {
	font-family: Roboto;
	font-weight: 500;
	line-height: 33px;
	letter-spacing: 0.01em;
	color: #303030;
}
.products .products-headline p {
	margin-top: 3vh;
	font-family: Rubik;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	letter-spacing: -0.01em;
	color: #737373;
}
.products-list {
	margin-top: 7vh;
}
.products-row1 {
	display: flex;
	padding: 0 4vw; /* 0 55px */
}
.products-row2 {
	display: flex;
	padding: 0 4vw; /* 0 55px */
	margin-top: 8vh;
}
 .products-row1 .products-list-row1, .products-row2 .products-list-row2 {
	width: 22%;
	margin: auto;
}
.products-row1 .products-list-row1 a img {
	max-width: 100%
}
.products-row2 .products-list-row2 a img {
	max-width: 100%
}
.brand-rating {
	display: flex;
	padding: 4px 9px 4px 9px;
}
.brand-rating div h5 {
	font-size: 15px;
	line-height: 18px;
	margin-top: 6px;
	color: #767677;
	text-transform: uppercase;

}
.brand-rating .rating {
	margin-left: auto;
}
.caption h4 {
	font-size: 15px;
	font-weight: 550;
	text-transform: uppercase;
	color: #303030;
	border-top: 1px solid #C4C4C4;
	padding: 11px 9px 0px 9px;
}
.caption p {
	font-size: 15px;
	line-height: 18px;
	color: #E63F3F;
	font-weight: 500;
	padding: 0 9px 0 9px;
}
.products-list-row1, .products-list-row2 {
	background: #F3F3F3;
}
.btn-more {
	margin-top: 4.5vh;
}
.btn-more button {
	display: block;
	margin: auto;
	border: none;
	padding: 8px 32px;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	color: #FCFCFC;
}

/*---------- DEAL ----------*/
.deal {
	margin-top: 7vh;
	margin-bottom: 8vh
}
.parallax {
    background: url('28430068_593046514374013_3729865624092934144_n.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}
.deal-info {
	position: relative;
	text-align: center;
	z-index: 2;
	font-size: 75px;
	font-family: rubik;
	font-weight: 500;
	line-height: 89px;
	color: #FFFFFF;
	padding-bottom: 300px;
}

/*---------- NEW PRODUCT ----------*/
.just-launched {
	padding: 0 6vw;
	margin-bottom: 8vh
}
.just-launched .products-headline {
	text-align: center;
}
.just-launched .products-headline h1 {
	font-family: Roboto;
	font-weight: 500;
	line-height: 33px;
	letter-spacing: 0.01em;
	color: #303030;
}
.just-launched .products-headline p {
	margin-top: 3vh;
	font-family: Rubik;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	letter-spacing: -0.01em;
	color: #737373;
}
.on-sale-slider .owl-item, .just-launched-slider .owl-item {
	background: #F3F3F3;
}
.on-sale-slider .owl-prev, .just-launched-slider .owl-prev {
	position: absolute;
    left: -50px;
    top: calc(50% - 70px);
}
.on-sale-slider .owl-next, .just-launched-slider .owl-next {
	position: absolute;
    right: -50px;
    top: calc(50% - 70px);	
}
.on-sale-slider .owl-theme .owl-nav, .just-launched-slider .owl-theme .owl-nav {
    margin-top: 0;
}
.on-sale-slider .owl-theme .owl-dots, .just-launched-slider .owl-theme .owl-dots {
	margin-top: 2vh;
}
@media screen and (max-width: 900px) {
	.on-sale-slider .owl-theme .owl-nav, .just-launched-slider .owl-theme .owl-nav {
		display: none;
	}
}
@media screen and (min-width: 900px) {
	.on-sale-slider .owl-theme .owl-dots, .just-launched-slider .owl-theme .owl-dots {
		display: none;
	}
}

/*---------- ON SALE PRODUCT ----------*/
.on-sale {
	padding: 0 6vw;
	margin-bottom: 8vh;
}
.on-sale .products-headline {
	text-align: center;
}
.on-sale .products-headline h1 {
	font-family: Roboto;
	font-weight: 500;
	line-height: 33px;
	letter-spacing: 0.01em;
	color: #303030;
}
.on-sale .products-headline p {
	margin-top: 3vh;
	font-family: Rubik;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	letter-spacing: -0.01em;
	color: #737373;
}
.sale-tag {
	position: absolute;
	font-family: Rubik;
	padding: 3px 4px;
    color: #ffffff;
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
    background: #E63F3F;
    border-radius: 1px;
    border-style: solid;
    border-color: #E63F3F;
    left: 0;
    top: 0;
}

/*---------- FEEDBACK GALLERY ---------*/
.wp-feedback {
	background: #F0F0F0;
	padding-top: 6vh;
	padding-bottom: 6.5vh;
	margin-bottom: 8vh;
}
.wp-feedback .feedback-headline h1 {
	font-family: rubik;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: 0.18em;
	color: #000000;
	margin-bottom: 0;
}
.wp-feedback .feedback-headline p {
	font-family: rubik;
	text-align: center;
	font-weight: 500;
	font-size: 15px;
	line-height: 14px;
	letter-spacing: -0.01em;
	color: #737373;
}
.feedback-headline {
	margin-bottom: 5vh;
}
.feedback-gallery .row1 {
	display: flex;
	flex-wrap: wrap;
}
.feedback-gallery .row2 {
	display: flex;
	flex-wrap: wrap;
}
.feedback-gallery .gallery-item {
	width: 16.66666%;
	margin: auto;
}
.feedback-gallery {
	padding: 0 4vw;
}
.feedback-gallery img {
	max-width: 100%
}
@media screen and (max-width: 900px) {
	.feedback-gallery .gallery-item{
	width: 33.3333%;
	}
}

/*---------- NEWS ----------*/
.wp-news {
	padding: 0 5vw;
	font-family: roboto;
}
.news-headline h1 {
	text-align: center;
	font-family: Roboto;
	font-weight: 500;
	line-height: 33px;
	letter-spacing: 0.01em;
	color: #303030;
}
.news-headline p {
	text-align: center;
	font-family: Rubik;
	margin-top: 3vh;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: -0.01em;
	color: #737373;
}
.news-content h2 {
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	color: #000000;
}
.news-content {
	margin-top: 3vh;
}
.news-content p {
	font-size: 15px;
	line-height: 18px;
	color: #000000;
}
.news-content .admin-date {
	display: flex;
	margin-top: 2vh;
}
.news-content .admin-date div p {
	font-size: 13px;
	line-height: 14px;
	color: #767677;
}
.news-content .admin-date div:nth-child(2) {
	margin-left: auto;
}

/*---------- FOOTER ----------*/
footer {
	background-color: #1E1E1E;
	margin-top: 13vh;
	padding: 6vh 5vw 3vh 5vw;
}
.wp-footer {
	font-family: Roboto;
	display: flex;
	border-bottom: 1px solid #282828;
}
.wp-footer h1 {
	font-weight: bold;
	font-size: 17px;
	line-height: 20px;
	color: #FFFFFF;
}
.wp-footer p {
	font-size: 15px;
	line-height: 18px;
	color: #b3b3b3;
}
.wp-footer .footer-flex {
	width: 33.33333%;
	margin-bottom: 4vh;
}
.receive-news .footer-mail input {
	width: 100%;
	padding: 9px 12px;
	border: none;
	background: #424242;
	color: #8E8E8E;
}
.receive-news .footer-mail button {
	background: rgba(237, 28, 36, 0.95);
	color: #FFFFFF;
	border: none;
	margin-top: 1vh;
	padding: 3px 9px;
	float: right;
}
.wp-footer2 {
	border-top: 1px solid #0f0f0f;
}
.wp-footer2 p {
	font-family: Roboto;
	font-size: 13px;
	color: #6F6F6F;
	margin-top: 3vh;
}