* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/*---------- Menu ----------*/
.navbar-brand {
	margin-left: 5vw;
}
.navbar-brand img {
	max-height: 74px;
}
.bg-light {
	background-color: white!important;
}

.navbar-nav {
	margin-left: auto;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-icon {
	margin-right: 5vw
}
.nav-item {
	margin: 0 4px 0 4px
}
.nav-link {
	color: black!important
}
.hvr-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}
.hvr-underline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	bottom: 0;
	background: #2098D1;
	height: 4px;
	transition-property: left, right;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
}