*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
/*---------- Menu ----------*/
.bg-light{
	background-color: #F2F2F2!important;
	padding-top: 17px;
}
.hero{
	background-color: #F2F2F2!important;
}
.navbar-nav{
	margin: auto;
	padding-left: 65px
}
#navbarNav{
	font-size: 17px!important;
}
.btn-sm{
	font-size: 17px!important;
	color: #7E8085!important;
	border: 2px solid #C9CDD5!important;
	border-radius: 5px!important;
	font-weight: bold;
}
.btn-sm:hover{
	color: white!important
}
.nav-link{
	padding: 0 13px 0 14px!important;
	color: #7E8085!important;
}
.navbar-brand{
	padding-left: 10px
}
.form-inline{
	padding-right: 5px
}
.form-inline a{
	color: #7E8085!important;
	padding-right: 13px;
	text-decoration: none;
}
.logo2{
	display: none;
}
@media screen and (max-width: 992px) {
	.float-left{
		float: left!important;
	}
	.logo{
		display: none
	}
	.logo2{
		margin: auto;
		display: block;
		padding-right: 50px
	}
	.navbar-nav{
		padding-left: 0
	}
	.nav-link{
		padding: 10px 0 10px 0!important
	}
		.form-inline{
		display: none
	}
	.login{
		display: block!important;
	}
}

/*---------- Content ----------*/
.content{
	font-family: aileron!important;
	text-align: center;
}
.text-content p:nth-child(1){
	font-size: 48px;
	font-weight: 900;
	margin-top: 15.5vh;
	margin-bottom: 2.5vh;
}
.text-content p:nth-child(2){
	font-size: 18px;
	font-weight: 600;
	color: #7E8085;
	line-height: 34px;
	width: 45%;
    margin: auto;
}
.input{
	margin-top: 6vh
}
.input input{
	border: none;
	background: #FFFFFF;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0207484);
	border-radius: 5px;
	font-size: 16px;
	padding-left: 15px;
	color: #AFB2B9;
	height: 50px;
	width: 295px
}
.input button{
	height: 50px;
	width: 170px;
	border: none;
	font-family: Aileron;
	font-weight: bold;
	font-size: 16px;
	color: #FFFFFF;
	background: #2F5BEA;
	border-radius: 0px 5px 5px 0px;
	margin-left: -8px
}
.input p{
	font-family: Aileron;
	font-size: 14px;
	color: #7E8085;
	padding-top: 2vh;
	margin: auto;
}
.input p a{
	font-family: Aileron;
	font-weight: 600;
	font-size: 14px;
	color: #FC5C42;
}
.img-content img{
	max-width: 100%;
	margin: auto;
	padding-left: 7vw
}
.img-content{
	margin-top: 10.5vh
}
@media screen and (max-width: 992px) {
	.text-content p:nth-child(1){
		margin-top: 10vh
	}
	.text-content p:nth-child(2){
		width: 70%
	}
}
@media screen and (max-width: 469px) { 	
	.input button{
		border-radius: 5px;
		margin-left: 0;
		margin-top: 5px
	}
}
/*---------- Section ----------*/
.tab .tab-title p:nth-child(1){
	font-family: Aileron;
	font-weight: bold;
	font-size: 34px;
	text-align: center;
	color: #2C2E30;
	margin-bottom: 3.5vh
}
.tab .tab-title p:nth-child(2){
	font-family: Aileron;
	font-weight: 600;
	font-size: 18px;
	line-height: 34px;
	text-align: center;
	color: #7E8085;
	width: 63%;
    margin: auto;
}
.tab-title{
	margin-top: 17vh
}
.tab-policy{
	display: flex;
	flex-wrap: wrap;
	margin-top: 10vh
}
.tab-policy .policy-flex{ 
	width: 33.33333333333%
}
.tab-policy div p{
	font-family: Aileron;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	color: #2C2E30;
	margin-bottom: 14px;
	    margin-top: 2vh;

}
.tab-policy .policy-flex div{
	width: 43px;
	margin: auto;
	height: 43px
}
.tab-policy .flex-first{
	padding-left: 14vw
}
.tab-policy .flex-third{
	padding-right: 14vw
}
.line-fake div{
	width: 67vw;
	margin: auto;
}
.line-fake div img{
	width: 100%;
	margin-left: 1vw
}
.tab-end .tab-end-content h1{
	font-family: Aileron;
	font-weight: bold;
	font-size: 28px;
	line-height: 34px;
	color: #2C2E30;
	padding-bottom: 4vh
}
.tab-end .tab-end-content p{
	font-family: Aileron;
	font-size: 16px;
	line-height: 28px;
	color: #54565A;
	padding-bottom: 2vh
}
.tab-end{
	display: flex;
	flex-wrap: wrap;
	padding: 0 5vw 18vh 5vw;
	margin-top: 4.5vh
}
.content-tab-first{
	margin: auto;
    width: 80%;
    padding-bottom: 2.5vh;
    border-bottom: 1px solid #E7EAEE;
}
.content-tab-second{
	margin: auto;
	width: 80%;
	padding-top: 28px
}
.content-tab-second p:nth-child(1){
	font-family: Noto Serif;
	font-style: italic;
	font-size: 16px;
	line-height: 28px;
	color: #54565A;
}
.content-tab-second p:nth-child(2){
	font-family: Aileron;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #2C2E30;
}
.tab-end .tab-end-img{
	width: 50%;
	margin: auto;
}
.tab-end .tab-end-img img{
	max-width: 100%
}
.tab-end .tab-end-content{
	width: 50%;
	padding-top: 10vh
}
@media screen and (max-width: 992px) {
	.tab .tab-title{
		margin-top: 11vh
	}
	.tab .tab-title p:nth-child(2){
		width: 75%
	}
	.tab-policy{
		margin-top: 6vh
	}
	.tab-policy .policy-flex{
		width: 100%;
		padding-top: 1vh;
		padding-bottom: 1vh
	}
	.tab-policy .flex-first{
		padding-left: 0
	}
	.tab-policy .flex-third{
		padding-right: 0
	}
	.line-fake{
		display: none;
	}
	.tab-end .tab-end-img{
		width: 71%;
	}
	.tab-end .tab-end-content{
		width: 100%;
		padding-top: 4vh
	}
}

/*---------- Section 2 -----------*/
.how{
	background-color: #F6F8F9;
	padding-top: 14vh;
}
.how .how-title h1{
font-family: Aileron;
font-weight: bold;
font-size: 34px;
line-height: 41px;
text-align: center;
color: #2C2E30;
margin-bottom: 3vh
}
.how .how-title p{
	font-family: Aileron;
font-weight: 600;
font-size: 18px;
line-height: 34px;
text-align: center;
color: #7E8085;
width: 63%;
margin: auto;
}
.how-img{
	display: flex;
	flex-wrap: wrap;
	    margin-top: 11vh;
	    margin-left: 9vw;
    margin-right: 9vw;
    border-bottom: 1px solid #E7EAEE;
}
.img-size{
	width: 30%
}
.stre-right{
	width: 5%
}
.img-size img{
	display: block;
	margin: auto;
}
.stre-right img{
		display: block;
	margin: auto;
}
.img-size h1{
	font-family: Aileron;
font-weight: bold;
font-size: 21px;
line-height: 25px;
text-align: center;
color: #2C2E30;
padding-top: 4vh
}
.img-size p{
	font-family: Aileron;
font-size: 16px;
line-height: 28px;
text-align: center;
color: #7E8085;
    margin-bottom: 16vh;

}
.stre-right{
	padding-top: 55px
}
.how-end{
	display: flex;
	flex-wrap: wrap;
	    padding-left: 3vw;
	    padding-bottom: 18vh
}
.how-end .how-end-size{
	width: 50%
}
.how-end .how-end-size img{
	max-width: 100%;
	display: block;
	margin: auto;
}
.how-end .how-end-size h1{
	font-family: Aileron;
font-weight: bold;
font-size: 34px;
line-height: 41px;
color: #2C2E30;
    margin-bottom: 4.5vh;

}
.how-end .how-end-size p{
	font-family: Aileron;
font-size: 16px;
line-height: 28px;
color: #54565A;
}
.how-end-size .right-size{
	width: 77%
}
.how-end-right {
	    padding-left: 7.5vw;
}
.right-size .right-size-img{
	display: flex;
	margin-top: 3vh;
	margin-bottom: 3vh
}
.right-size .right-size-img div{
	padding-right: 1vw
}
.right-size a{
	font-family: Aileron;
font-weight: bold;
font-size: 18px;
line-height: 34px;
color: #2F5BEA;
}
.how-end-left{
	padding-top: 18vh
}
.how-end-right{
	padding-top: 22vh
}
@media screen and (max-width: 992px) {
	.how-img{
		margin-left: 0;
		margin-right: 0;
		margin-top: 8vh;
		border: none;
	}
	.img-size {
		width: 100%;
		padding-top: 3vh
	}
	.img-size h1{
		padding-top: 2vh
	}
	.img-size p{
		margin-bottom: 1rem;
	}
	.stre-right{
		display: none;
	}
	.how-end .how-end-size{
		width: 100%
	}
	.how-end{
		padding-right: 3vw;
		padding-bottom: 11vh
	}
	.how-end-left{
		padding-top: 11vh
	}
	.how-end-right {
    padding-top: 6vh;
    padding-right: 7.5vw
	}
}

/*---------- Testimonial ----------*/
.testimonial{
	background-image: url('oval.png');
	background-repeat: no-repeat;
	background-position: 12vw top;
	background-size: 45%;
	padding-bottom: 15.5vh
}
.testimonial-head-left h1{
	font-family: Aileron;
font-weight: bold;
font-size: 34px;
line-height: 41px;
color: #2C2E30;
margin-bottom: 6vh
}
.testimonial-head-left p{
font-family: Aileron;
font-size: 16px;
line-height: 28px;/* or 175% */
color: #54565A;
    margin-bottom: 8vh;
}
.testimonial-head-left a{
font-family: Aileron;
font-weight: bold;
font-size: 18px;
line-height: 34px;
color: #2F5BEA;
}
.testimonial-head{
	display: flex;
	flex-wrap: wrap;
	    padding-left: 11vw;
    padding-right: 11vw;
}
.testimonial-size{
	width: 50%
}
.testimonial-head-right{
	padding-top: 18vh
}
.testimonial-head-right img{
	max-width: 100%;
	display: block;
	margin: auto;
}
.testimonial-head-left{
	padding-top: 22vh
}
.head-content{
	width: 82%
}
.testimonial-middle-title h1{
	font-family: Aileron;
font-weight: bold;
font-size: 34px;
line-height: 41px;
text-align: center;
color: #2C2E30;
margin-bottom: 2.5vh
}
.testimonial-middle-title p{
	font-family: Aileron;
font-weight: 600;
font-size: 18px;
line-height: 34px;/* or 189% */
text-align: center;
color: #7E8085;
}
.testimonial-middle-img{
	display: flex;
	flex-wrap: wrap;
	padding-left: 7vw;
	padding-right: 7vw;
	    margin-top: 8vh;
}
.testimonial-middle-img a{
font-family: Aileron;
font-weight: bold;
font-size: 18px;
line-height: 34px;
margin: auto;
color: #2F5BEA;
margin-top: 5vh
}
.middle-img-size{
	width: 33.33333%;
}
.middle-img-size img{
	display: block;
	margin: auto;
	max-width: 100%
}
.brands {
	margin-top: 15vh
}
.brands img{
	display: block;
	margin: auto;
}
@media screen and (max-width: 992px) {
	.testimonial-size{
	width: 100%
	}
	.testimonial-head-left{
	padding-top: 10vh
	}
	.testimonial-head-right{
	padding-top: 9vh
	}
	.testimonial-head-left h1{
		margin-bottom: 4vh
	}
	.testimonial-head-left p{
		margin-bottom: 5vh
	}
	.testimonial-head{
		padding-left: 10.5vw;
		padding-right: 10.5vw
	}
	.head-content{
		width: 100%
	}
	.middle-img-size{
	width: 100%;
	margin-bottom: 1vh
	}
	.brands{
		display: none;
	}
}
/*---------- Price ----------*/
.price{
background-color: #F6F8F9;
padding-bottom: 15vh
}
.price-title h1{
	font-family: Aileron;
font-weight: bold;
font-size: 34px;
line-height: 41px;
text-align: center;
color: #2C2E30;
margin-bottom: 2.5vh;
padding-top: 15vh;
}
.price-title p{
	font-family: Aileron;
font-weight: 600;
font-size: 18px;
line-height: 34px;
text-align: center;
color: #7E8085;
    width: 43%;
    margin: auto;
}
.price-img{
	display: flex;
	flex-wrap: wrap;
}
.price-img-size{
	width: 50%;
	    padding: 2vw;
}
.price-img-size img{
	display: block;
	
	max-width: 100%
}
.price-img-left img{
	float: right;
}
.price-end p{
	font-family: Aileron;
font-size: 18px;
line-height: 34px;
text-align: center;
color: #7E8085;
}
.price-end{
font-family: Aileron;
font-weight: bold;
font-size: 18px;
line-height: 34px;
text-align: center;
color: #2C2E30;
margin-top: 2.5vh
}
@media screen and (max-width: 992px){
	.price-title p{
		width: 80%
	}
	.price-img-size{
		width: 100%
	}
	.price-img-left img{
		float: none;
	}
	.price-img-size img{
		margin: auto;
	}
}
/*---------- CTA ----------*/
.CTA{
	background-image: url('Group 2.png');
		background-repeat: repeat-x;
		padding-bottom: 17vh
}
.CTA-content h1{
	font-family: Aileron;
font-weight: bold;
font-size: 34px;
line-height: 41px;
text-align: center;
color: #FFFFFF;
padding-top: 15vh;
padding-bottom: 3vh;
}
.CTA-content p{
	font-family: Aileron;
font-weight: 600;
font-size: 18px;
line-height: 34px;
text-align: center;
color: #FFFFFF;
padding-bottom: 8vh;
width: 43%;
margin: auto;
}
.CTA-content button{
	background: #FFFFFF;
border-radius: 5px;
font-family: Aileron;
font-weight: bold;
font-size: 16px;
line-height: 19px;
text-align: center;
text-transform: uppercase;
color: #2F5BEA;
height: 50px;
	width: 170px;
	border: none;
	display: block;
	margin: auto;
}
.CTA-content button:hover{
	opacity: 0.85
}
@media screen and (max-width: 992px){
	.CTA-content p{
		width: 85%
	}
}
/*---------- Footer ----------*/
.footer{
	background-image: url('net.png');
	background-repeat: no-repeat;
	background-size: 35%;
	background-position: left top;
}
.footer h1{
	font-family: Aileron;
font-weight: bold;
font-size: 18px;
line-height: 22px;/* identical to box height */
color: #2C2E30;
}
.footer p{
	font-family: Aileron;
font-size: 16px;
line-height: 30px;/* or 244% */
color: #54565A;
}
.footer-main{
	display: flex;
	padding-top: 13vh;
	padding-bottom: 14vh
}
.footer-size{
	display: flex;
	flex-wrap: wrap;
	width: 60%
}
.footer-logo{
	width: 40%;
	position: relative;
}
.footer-logo img{
	    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.footer-content{
	width: 33.3333%
}
@media screen and (max-width: 992px){
	.footer-main{
			padding-top: 9vh;
	padding-bottom: 6vh
	}
	.footer-size{
		width: 100%
	}
	.footer-content{
		width: 100%;
		text-align: center;
		padding-bottom: 4vh
	}
	.footer-logo{
		display: none;
	}
}