* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: lato
}
.banner-bg {
	max-width: 100%;
}
.banner-bg img {
	width: 100%
}
.banner-content h1 {
	font-size: 55px;
	font-weight: bold;
	line-height: 60px;
	text-align: center;
	color: white;
	margin-bottom: 18px;
}
.banner-content p {
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	color: white;
}
.banner-container {
	position: relative;
}
.banner-hero {
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin: auto;
	transform: translate(-50%, -50%);
}
.banner-textbox {
	display: flex;
	flex-wrap: wrap;
	margin-top: 43px
}
.textbox {
	margin: auto
}
.banner-textbox input {
	background: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.25;
	border-radius: 4px;
	width: 27.45vw;
	height: 53px;
	border: none;
	margin-right: 3vw;
	font-size: 16px;
	padding-left: 1.5vw
}
.banner-textbox input::placeholder {
	color: black;
}
.banner-textbox button {
	width: 14.05vw;
	height: 53px;
	background: linear-gradient(90deg, #FE985B 2.77%, #FE4FA7 100%);
	border-radius: 4px;
	border: none;
}
@media screen and (max-width: 768px) {
	.banner-content h1 {
		font-size: 35px
	}
	.banner-content p {
		font-size: 14px;
		width: 80%;
		margin: auto;
	}
	.banner-textbox button {
		height: 40px
	}
	.banner-textbox input {
		height: 40px
	}
	.banner-textbox {
		margin-top: 18px
	}
}

.section-1 {
	margin: auto;
	margin-top: 117px;
	padding-left: 7vw;
    padding-right: 7vw;

}
.section1-main {
	display: flex;
	border-bottom: 1px solid #E2E2E2;
padding-bottom: 110px
}
.section1-left {
	width: 50%;
	margin-right: 60px
}
.section1-right {
	width: 50%
}
.section1-left h1 {
	font-weight: bold;
	font-size: 36px;
	line-height: 51px;
	color: #414141;
}
.section1-text1, .section1-text2 {
	width: 75%;
}
.section1-text1 h2, .section1-text2 h2 {
	font-weight: bold;
font-size: 18px;
line-height: 22px;
color: #414141;
}
.section1-text1 p, .section1-text2 p {
	font-weight: 300;
font-size: 16px;
line-height: 28px;
color: #6C6C6C;
}
.section1-text1 {
	margin-top: 57px;
}
.section1-text2 {
	margin-top: 29px;
}
.section1-right {
	padding-top: 27px
}
.section1-right img {
	width: 100%
}
@media screen and (max-width: 992px) {
	.section-1 {
		margin-top: 50px;
	}
	.section1-main {
				flex-wrap: wrap;
	padding-bottom: 40px
	}
	.section1-left {
		width: 100%;
		margin-right: 0
	}
	.section1-right {
		width: 100%
	}
	.section1-text1 {
		margin-top: 28px
	}
	.section1-text1, .section1-text2 {
		width: 100%
	}
}
.section-2 {
	margin-top: 82px
}
.item h1 {
	font-weight: bold;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #414141;
}
.item p {
	font-weight: 300;
font-size: 16px;
line-height: 28px;
text-align: center;
color: #6C6C6C;
}
.item img {
	display: block;
	margin: auto;
}
.section2-main {
	display: flex;
	padding-left: 7vw;
    padding-right: 7vw;
        justify-content: space-between;
}
.item {
	width: 31%
}
@media screen and (max-width: 992px) {
	.section-2 {
		margin-top: 50px
	}
	.section2-main {
		flex-wrap: wrap;
	}
	.item {
		width: 100%;
		margin-bottom: 24px
	}
}

.testimonial {
	background-color: #F6FAFD;
	margin-top: 130px;
}
.testimonial-layout {
	padding-top: 34px;
	display: flex;
	width: 73%;
	margin: auto;
}
.testimonial-img {
	margin-right: 53px
}
.testimonial-text p {
	font-size: 24px;
	line-height: 40px;
	color: #414141;
	margin-top: 173px
}
.testimonial-text h2 {
	font-weight: bold;
font-size: 24px;
line-height: 29px;
color: #414141;
margin-top: 30px
}
.testimonial-text h3 {
	font-size: 20px;
line-height: 24px;
color: #414141;
}
@media screen and (max-width: 1200px) {
	.testimonial-layout {
		width: 85%	
	}
} 
@media screen and (max-width: 992px) {
	.testimonial {
		margin-top: 64px;
		padding-bottom: 36px
	}
	.testimonial-layout {
		flex-wrap: wrap;
	}
	.testimonial-img {
		width: 100%;
		margin-right: 0
	}
	.testimonial-img img {
		display: block;
		margin: auto;
		    max-width: 100%;

	}
	.testimonial-text {
		width: 100%
	}
	.testimonial-text p {
		margin-top: 58px
	}
} 

.plans {
	margin-top: 115px
}
.plans-text h1 {
	font-weight: bold;
font-size: 36px;
line-height: 51px;
text-align: center;
color: #414141;
}
.plans-text p {
	font-weight: 300;
font-size: 16px;
line-height: 28px;
text-align: center;
color: #6C6C6C;
width: 45%;
margin: auto;
}
.plans-img {
	display: flex;
	width: 85%;
    margin: auto;
    padding-top: 63px
}
.plans-img div:nth-child(1) {
	margin-left: auto;
}
.plans-img div:nth-child(2) {
	margin-right: auto;
}
.plans-img div:nth-child(1) img {
	max-width: 100%
}
.plans-img div:nth-child(2) img {
	max-width: 100%
}
@media screen and (max-width: 768px) {
	.plans-img {
		flex-wrap: wrap;
	}
	.plans-img div:nth-child(1) {
		width: 100%
	}
	.plans-img div:nth-child(2) {
		width: 100%
	}
	.plans-img div:nth-child(1) img {
		display: block;
		margin: auto;
	}
	.plans-img div:nth-child(2) img {
		display: block;
		margin: auto;
	}
} 

.section-3 {
	background: linear-gradient(90deg, #FE985B 2.77%, #FE4FA7 100%);
	padding-top: 120px;
	padding-bottom: 120px
}
.section3-text h1 {
font-weight: bold;
font-size: 55px;
line-height: 60px;
text-align: center;
color: #FFFFFF;
margin-bottom: 28px;
}
.section3-text p {
	font-size: 20px;
line-height: 30px;
text-align: center;
color: #FFFFFF;
    width: 40%;
    margin: auto;
}
.section3-text {
	margin-bottom: 45px
}
.section3-btn button{
width: 192px;
height: 53px;
background: white;
border-radius: 4px;
border: none;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #464646;
display: block;
margin: auto;
}